<!DOCTYPE html>
<html>

<head>
    <title>Fashion Store :)</title>
</head>

<header>
    <h1>Fashion Store</h1>
    <div>
        <ul>
            <li><a href="/home/mens">Mens</a></li>
            <li><a href="/home/womens">Womens</a></li>
        </ul>
    </div>
    <hr>
</header>
<nav>
    <a href="">Home</a> /
    <a href="/home/<%= name %>">
        <%= name %>
    </a>
</nav>

<body>
    <% category = categories[0] %>
        <h3><%= category.page_title %></h3>
        <span><%= category.page_description %></span>
        <ul>
            <% for(var i=0; i<category.categories.length; i++) {%>
                <li>
                    <img src="/images/<%= category.categories[i].image %>" alt="<%= category.categories[i].page_title %>" />
                    <div class="subcategory-description">
                        <%= category.categories[i].page_description %>
                    </div>
                    <a href="/category/<%= category.categories[i].id %>">View products</a>
                </li>
                <% } %>
        </ul>
</body>

</html>
