<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Fashion Store :)</title>
</head>
<header>
    <h1>Fashion Store</h1>
    <a href="/home/mens">Mens</a>
    <a href="/home/womens">Womens</a>
</header>
<nav>
    <a href="">Home</a> /
    <a href="">
        <%= category %>
    </a>
</nav>

<body>
    <ul>
        <% for(var i=0; i<products.length; i++) {%>
            <li>
                <div class="product">
                    <div class="product-name">
                        <%= products[i].name %>
                    </div>
                    <img src="/images/<%= products[i].imgLink %>" alt="<%= products[i].imgAlt %>" title="<%= products[i].imgTitle %>" />
                    <div class="product-info">
                        <div class="product-description">
                            <%= products[i].description %>
                        </div>
                        <span class="price">
                      Price: $ <%= products[i].price %>
                  </span>
                        <a href="/product/<%= products[i].id %>">More info</a>
                    </div>
                </div>
            </li>
            <% } %>
    </ul>
</body>
<footer>
    <hr>
    <span class="copyright">Copyright 2013 OSF Global Services</span>
</footer>

</html>
