<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" charset="utf-8">
    <title>Fashion Store :)</title>
</head>
<header>
    <h1>Fashion Store</h1>
    <a href="/home/mens">Mens</a>
    <a href="/home/womens">Womens</a>
</header>
<nav>
    <a href="#">Home</a> /
    <a href="#">
        <%= subcategory %>
    </a> /
    <a href="#">
        <%= name %>
    </a>
</nav>

<body>
    <div class="product">
        <img src="/images/<%= imgLink %>" alt="<%= imgAlt %>" title="<%= imgTitle %>" />
        <div class="product-info">
            <h4 class="product-name">
                <%= name %>
            </h4>
            <div class="product-description">
                <%= description %>
            </div>
            <button type="button" name="button" class="btn-buy">By now</button>
            <div class="price">
                Price:
                <%= currency %>
                    <%= price %>
            </div>
        </div>
    </div>
</body>
<footer>
    <hr>
    <span class="copyright">Copyright 2013 OSF Global Services</span>
</footer>

</html>
