body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  border: 3px solid gray;
}

header a:hover {
  text-decoration: none;
}

nav a{
  text-decoration: underline;
}

.copyright{
  float: right;
}
